name: Release (Linux, macOS, Windows)
permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'reason'
        required: false
  push:
    branches:
      - cosmos

jobs:
  linux:
    name: Linux Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Build Frontend
        env:
          CI: ""
        run: |
          cd web
          bun install
          DISABLE_ESLINT_PLUGIN='true' bun run build
          cd ..
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.25.1'
      - name: Build Backend (amd64)
        run: |
          go mod download
          go build -ldflags "-s -w -extldflags '-static'" -o new-api
      - name: Upload (x86_64)
        uses: actions/upload-artifact@v4
        with:
          name: new-api-linux-x86_64
          path: new-api
